:root{
    --text-color: #ffffff;
    --text-color-hover: #f64c72;
    --text-color-bad: #f64c72;
    --link-color: #f64c72;
    --border-color: #ffffff;
    --placeholder-color: #a5a5a5;

    --table-color-1: #4686ff;
    --table-color-2: #4686ff;
    --table-color-3: #ff849f;
    --table-color-hover: #90a6d8;

    --font-weight-light: 200;
    --font-weight-normal: normal;
    --font-weight-bold: bold;

    --font-size-title: 24px;
    --font-size-name: 20px;
    --font-size-text: 16px;

}

*{
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(blue, rgb(255, 145, 163));
    min-width: 320px;
}

a{
    text-decoration: none;
    padding: 10px;
}

.center-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.body-wrapper{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
}

main{
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main-wrapper{
    width: 80%;
}
.main-wrapper > h2{
    margin-top: 10px;
    text-align: center;
}


.main-wrapper-title{
    font-size: var(--font-size-title);
}

@media screen and (max-width: 1024px) {
    :root{

        --checkbox-height: 24px;
        --checkbox-width: 40px;
    }
    .main-wrapper{
        width: 100%;       
    }
}

@media screen and (max-width: 768px) {
    :root{

        --checkbox-height: 20px;
        --checkbox-width: 32px;

        --font-size-title: 20px;
        --font-size-name: 18px;
    }
}

@media screen and (max-width: 480px) {
    :root{

        --checkbox-height: 18px;
        --checkbox-width: 28px;
    }
}